button,
.button {
	display: inline-block;
	border: 2px solid currentColor;
	background: transparent;
	padding: 0.5em 1em;
	font-weight: bold;
	line-height: inherit;
	text-decoration: none;
	text-align: center;
	box-shadow: 0 4px 0 -2px rgba($c-text, .2);
	transition-duration: 0.2s;
	transition-timing-function: ease;
	transition-property: color, box-shadow, transform;
	transform: translate3d(0, 0, 0);
	position: relative;

	&::before {
		content: '';
		display: block;
		position: absolute -2px -2px;
		pointer-events: none;
		border: 2px solid;
		border-color: rgba(white, .4) rgba(white, .25) transparent;
	}

	&:hover,
	&:focus,
	&:active {
		color: $c-highlight;
		outline: none;
	}

	&:active {
		transform: translate3d(0, 1px, 0);
		box-shadow: 0 3px 0 -2px rgba($c-text, .4);
	}
}

.button {
	&--slim {
		padding: 0;
		min-width: 0;
		border-top-width: 0;
		border-left-width: 0;
		border-right-width: 0;

		&,
		&:active {
			box-shadow: none;
		}
	}
}
