fieldset {
	border: none;
	padding: 0 0 0 1em;
}

legend {
	margin: 0 0 0 -1em;
}

input[type="text"],
input[type="date"],
input[type="time"],
input[type="file"],
textarea {
	line-height: inherit;
	color: inherit;
	border: solid $c-text;
	background-color: transparent;
	box-shadow: 0 0 0 0.35em transparent;
	transition: 0.2s ease;
	transition-property: color, background-color, border-color, box-shadow;

	&:focus,
	&:active {
		outline: none;
		color: $c-highlight;
		border-color: $c-highlight;
		background-color: $c-highlight-bg;
		box-shadow: 0 0 0 0.35em $c-highlight-bg;
	}
}

input[type="text"],
input[type="date"],
input[type="time"],
input[type="file"] {
	border-width: 0 0 1px;
	height: 1.75em;
	padding: 0 0.1em;
}

input[type="color"] {
	padding: 0;
	border: none;
	background: transparent;
}

textarea {
	border-width: 1px;
	padding-left: 0.5em;
	resize: vertical;
}

::placeholder {
	color: inherit;
	opacity: 0.5;
}

.form {
	&__cluster,
	&__input-group {
		margin: 1em 0;
	}

	&__input-group {
		display: flex;
		min-width: 20em;
		align-items: baseline;

		label {
			margin-right: 0.5em;
			display: block;
			white-space: nowrap;
			order: -1;
		}

		:required ~ label::after {
			content: "*";
			color: #f06;
		}

		input[type="text"],
		input[type="date"],
		input[type="time"],
		input[type="file"] {
			width: 10em;
			flex-grow: 1;
		}

		input + input {
			margin-left: 1em;
		}

		&--vertical {
			flex-direction: column;
			align-items: stretch;
			padding-top: 0.15em;

			label {
				margin-bottom: 0.15em;
			}
		}
	}

	&__actions {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		margin-top: 1em 0;
		padding: 1em 0;
	}
}
