fieldset {
	border: none;
	padding: 0 0 0 0.5em;
}

legend {
	display: block;
	margin: 0 0 0 -0.5em;
}

legend,
label,
input[type="text"],
textarea {
	padding: 0.1em;
	line-height: inherit;
	border: solid rgba($c-text, 0.5);
	border-width: 0 0 1px;
}

legend,
label {
	padding-left: 0;
	border-color: transparent;
}

input[type="text"],
textarea {
	color: inherit;
	transition: 0.2s ease;
	transition-property: color, border-color;

	&:focus,
	&:active {
		outline: none;
		color: $c-highlight;
		border-color: $c-highlight;
	}
}

textarea {
	border-width: 1px;
	padding: 0.5em;
}

::placeholder {
	color: inherit;
}

.form {
	&__cluster,
	&__input-group {
		margin: 1em 0;
	}

	&__input-group {
		display: flex;
		min-width: 20em;

		label {
			margin-right: 0.5em;
			display: block;
			white-space: nowrap;
		}

		input[type="text"],
		textarea {
			width: 3em;
			flex-grow: 1;
		}

		input[type="text"] + input[type="text"] {
			margin-left: 1em;
		}

		textarea {
			width: auto;
		}

		&--multi-line {
			flex-direction: column;
		}

		&--multi-line label {
			margin-bottom: 0.5em;
		}
	}

	&__actions {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		margin-top: 2em;
	}
}
