body {
	font-family: 'courier prime', 'courier new', monospace;
	color: var(--c-text);
	line-height: var(--t-line-height);
}

h1 {
	margin-top: 0;
	text-transform: uppercase;
}

::selection {
	color: var(--c-highlight);
	background-color: var(--c-highlight-bg);
}

a,
a:visited {
	color: inherit;
}

a:focus,
a:active {
	color: var(--c-highlight);
	outline: none;
}
