<main class="page page--list">
	<header>
		<h1>Events</h1>
		<a class="button" href="/events/create/">New +</a>
	</header>

	<ul class="list">
		{{#each events}}
			<li class="event-item">
				<div class="event-item__details">
					<a class="event-item__link" href="/event/{{this.slug}}/">{{this.title}}</a>
					<time>{{dateTime this.start}}</time>
				</div>

				<a class="button button--slim" href="/event/edit/{{this.slug}}/">Edit</a>
			</li>
		{{/each}}
	</ul>
</main>
