<main class="page page--list">
	<h1>Listing events</h1>

	<ul>
		{{#each events}}
			<li>
				<p>
					<a href="/event/{{this.slug}}/">{{this.title}}</a>
					<br>
					<time>{{dateTime this.start}}</time>
				</p>
				<p>
					<a href="/event/edit/{{this.slug}}/" class="button button--slim">Edit</a>
				</p>
			</li>
		{{/each}}
	</ul>

	<div class="form__actions">
		<a href="/events/create/" class="button">
			New event +
		</a>
	</div>
</main>
