<main class="page">
	<header>
		<h1>Events</h1>
		<a class="button" href="/events/create/">New +</a>
	</header>

	<ul class="list">
		{{#each events}}
			<li class="event-item">
				<a class="_details" href="/event/{{this.slug}}/">
					<div><strong>{{this.title}}</strong></div>
					<time>{{dateTime this.start}}</time>
				</a>

				<a class="button -slim" href="/event/edit/{{this.slug}}/">Edit</a>
			</li>
		{{/each}}
	</ul>
</main>
