{{#with event}}
	<div class="event" style="color: {{textColor}}; background-image: url({{background.image}})">
		<div class="event__body">
		{{{compileEventBody body.html this}}}
		</div>
	</div>
{{/with}}
