html {
	height: 100%;
}

body {
	margin: 0;
	font-family: 'consolas';
}

.form__input-group {
	margin: 1em 0;
}

.form__input-group label {
	display: block;
}

.event {
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 100vh;
	background-size: cover;
	background-position: center;
}

.event__body {
	max-width: 40em;
	margin: 0 auto;
}
