.event {
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 100vh;
	background-size: cover;
	background-position: center;

	&__body {
		max-width: 40em;
		margin: 0 auto;
		text-align: center;
	}

	ul, ol {
		list-style-type: none;
		display: inline-flex;
		text-align: left;
		flex-direction: column;

	}

	ul > li::before {
		content: '* ';
	}

	::selection {
		color: inherit;
		background: hsla(0, 0, 50%, 0.5);
	}
}
