<!DOCTYPE html>
<title>SSR test</title>
<link rel="stylesheet" href="/bundles/styles.css">
<link href="https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&display=swap" rel="stylesheet">
{{#with event.style}}
	{{> event-style}}
{{/with}}

{{{body}}}

<script src="/bundles/scripts.js"></script>
{{#if DEVELOPMENT}}
	<script src="http://localhost:3001/livereload.js?snipver=1"></script>
{{/if}}
